{% extends "baseGeneric.html" %}

{% block content %}
    <h2>Scores/Schedules</h2>

    {% for w in range %}
        <div>
            <h3>Week {{ w }}</h3>

            {% for game in games %}
                {% if game.week == w %}
                    {% if game.awayScore %}
                        <p>{{ game.away.school.name }} {{ game.awayScore }} - {{ game.homeScore }} {{ game.home.school.name }}</p>
                    {% else %}
                        <p>{{ game.away.school.name }} @ {{ game.home.school.name }} - {{ game.datetime }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <hr>
        </div>
    {% endfor %}
{% endblock %}