{% extends "baseGeneric.html" %}

{% block content %}
    <h2>Scores/Schedules</h2>

    {% for w in range %}
        <div>
            <h3>Week {{ w }}</h3>

            {% for game in games %}
                {% if game.week == w %}
                    {% if game.status == "C" %}
                        <p><a href="/game/{{ game.id }}">{{ game.away.school.name }} {{ game.awayScore }} - {{ game.homeScore }} {{ game.home.school.name }}</a></p>
                    {% else %}
                        <p><a href="/game/{{ game.id }}">{{ game.away.school.name }} @ {{ game.home.school.name }} - {{ game.datetime }}</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <hr>
        </div>
    {% endfor %}
{% endblock %}