{% extends "baseGeneric.html" %}

{% block content %}
    <h2>Standings</h2>

    <section class="widget">
        <h3>Coaches' Poll</h3>

        <ol>
            {% for team in CP %}
                <li>{{ team }} {{ team.wins }}-{{ team.losses }} ({{ team.conf_wins }}-{{ team.conf_losses }})</li>
            {% endfor %}
        </ol>
    </section>

    <br/>
    <br/>

    {{ ACC | safe }}
    {{ BigXII | safe }}
    {{ PacXII | safe }}
    {{ SEC | safe }}

    {% for conf in conferences %}
        {{ conf | safe }}
    {% endfor %}

{% endblock %}

