h1 {
    font-family: 'Alfa Slab One', cursive;
}

header {
    background-color: lightgrey;
}

nav {
    background-color: darkgreen;
}

.widget {
    display: inline-block;
    width: 50%;
    background-color: grey;
}

#countdown {
    display: block;
    width: 90%;
}

nav a {
    color: white;
}

.coachingSubsectionLink {
    color: white;
}